<div class="accent3-border-left background-white padding-medium padding-top-large padding-bottom-large margin-bottom-xx-large">

  <div class="lgd-row">
    <div class="lgd-row__full m:lgd-row__two-thirds flex flex-column m:flex-row">
      <div class="single-icon icon-email--white single-icon--xx-large background-burgundy-alt circular-radius margin-right-medium margin-bottom-small"></div>
      <div>
        <h2 class="margin-bottom-x-small">{{ title }}</h2>
        <p class="subtitle margin-top-reset margin-bottom-reset">{{ summary }}</p>
      </div>
    </div>

    <div class="lgd-row__full m:lgd-row__one-third flex flex-align-center m:flex-justify-right">
      <a href="{{ linkUrl }}" class="button button--action rounded margin-top-reset">
        {{ linkText }}
        <svg viewBox="0 0 12 22" class="button__icon button__icon--after">
          <use xmlns="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>

</div>
