/*
 * @file
 *
 * This file is for styling our HTML elements
 */

/*
 * Page and global elements
 */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osz-smoothing: grayscale;
  margin-top: 0;
}

/* @todo Style Focus */
*:focus {
  outline: 4px solid var(--color-focus);
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-size: var(--font-size);
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-background);
}

/*
 * Text elements
 */

a {
  color: var(--color-blue);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: 1.625rem;
  margin: 0 0 var(--spacing);
  font-family: var(--font-secondary);
  font-weight: 700;
}

h2,
.h2 {
  font-size: 1.5rem;
  margin-bottom: calc(var(--spacing) * 1.5);
  font-family: var(--font-primary);
}

h3,
.h3 {
  font-size: 1.25rem;
  margin-bottom:  calc(var(--spacing) * 1.5);
  font-family: var(--font-primary);
}

h4,
.h4 {
  font-size: 1.125rem;
  margin-bottom: calc(var(--spacing));
  font-family: var(--font-primary);
}

h5,
.h5 {
  font-size: 1;
  margin-bottom: var(--spacing);
}

h6,
.h6 {
  font-size: 0.875;
  margin-bottom: var(--spacing);
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin: var(--spacing) 0;
  line-height: 1.25;
}

strong {
  font-weight: 600;
}

/*
 * Images
 */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*
 * Table
 */

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  vertical-align: top;
  text-align: left;
  padding: var(--spacing-x-small) var(--spacing-x-small) var(--spacing-x-small) 0;
}

thead tr {
  border-bottom: 2px solid var(--color-grey-mid-dark);
}

tbody tr {
  border-bottom: 1px solid var(--color-grey-mid-dark);
}

/*
 * Form elements
 */

/* @todo Form elements */

/* Inputs and Select Lists */
input:not([type="submit"]):not([type="file"]),
textarea,
select {
  width: 100%;
  border: 1px solid var(--color-grey-dark);
  background-color: var(--color-white);
}

input:not([type="submit"]):not([type="file"]):not([type="search"]),
textarea,
select {
  padding: var(--form-base-quarter);
  border-radius: 0;
}

textarea {
  display: block;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
 * Figures
 */

figure {
  margin: 0 0 var(--spacing-medium);
}

figure img {
  width: 100%;
}

figcaption {
  margin-top: var(--spacing-x-small);
}


/*
 * Horizontal Rule
 */

hr {
  margin: var(--spacing-medium) 0;
  border: 0;
  border-top: 1px solid var(--color-grey-mid-dark);
}

/*
 * Address
 */
address {
  font-style: normal;
}
