{#
/**
 * @file
 * BHCC Base theme override for recurring dates.
 */
#}
<div class="date-recur-date flex flex-align-center">
  <svg class="margin-right-x-small" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
    <path d="M 7.533 3.058 L 7.533 8.467 L 12.942 8.467" fill="none" stroke="#373c49" stroke-linecap="round" stroke-width="1" stroke-linejoin="round"></path>
    <circle cx="8" cy="8" r="7.5" fill="none" stroke="#373c49" stroke-width="1"></circle>
  </svg>

  <div>
    {{ date }}
  </div>
</div>
