/*
 * @file
 *
 * Tick or cross list and items.
 */

.tick-cross-list__title {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: var(--spacing-medium);
}

.tick-cross-item {
  margin-top: var(--spacing-small);
}

.tick-cross-item__icon {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: var(--spacing-xx-small);
  fill: currentColor;
}

.tick-cross-item__icon--tick {
  color: var(--color-green);
}

.tick-cross-item__icon--cross {
  color: var(--color-red);
}

.tick-cross-item__body {
  padding-left: var(--spacing-small);
}
